{% unless site.atom_feed.hide %}
  {% assign show_atom = true %}
{% endunless %}
{% if site.footer.links or show_atom %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label | escape_once | strip }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endif %}

<div class="page__footer-copyright">
  <div class="footer-left">
    <p>&copy; {{ site.time | date: '%Y' }} Ionic Lab | Prof. Jinghui GUO.</p>
    <p>Designed by Yumu LOU.</p>
  </div>
  
  <div class="footer-right">
    <p>Ionic Function and Modulation Laboratory</p>
    <p>The Chinese University of Hong Kong, Shenzhen</p>
    <p>School of Medicine</p>
    <p>Research Complex, Room Rx 509</p>
    <p>Longxiang Blvd. 2001, Longgang District,</p>
    <p>Shenzhen, Guangdong, China, 518172</p>
  </div>
</div>

<style>
.page__footer-copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1em;
}

.footer-left, .footer-right {
  margin: 10px 0;
}

.footer-left p {
  margin: 0 0 5px 0;
  line-height: 1.4;
}

.footer-right {
  text-align: right;
  font-size: 0.9em;
  line-height: 1.4;
}

.footer-right p {
  margin: 0 0 2px 0;
}

@media (max-width: 768px) {
  .page__footer-copyright {
    flex-direction: column;
  }
  
  .footer-right {
    text-align: left;
    margin-top: 20px;
  }
}
</style>
