---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


$grid: (
  container: 1200px,  
  columns: 12,       
  gutters: 0.25,      
);


$main: 100%;

.sidebar {
  width: 0;
  display: none;
}

.page {
  @include breakpoint($large) {
    float: none;
    width: 100%;
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }
}

.page__inner-wrap {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: $container-width;
}
