/* 调整全局页边距 */
.container {
  padding-left: 20px;  // 左页边距
  padding-right: 20px; // 右页边距
}

/* 调整移动端页边距 */
@include breakpoint($small) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* 调整特定区域页边距 */
.page__content {
  padding: 20px 0; // 上下页边距
}
